.about-container {
    height: auto;
    color: #fff;
    transition: .3s ease-in-out;
}
.about-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-left img{
    width: 300px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
}
.about-head{
    font-weight: 600;
    text-transform: uppercase;

}
.about-right-row{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.about-right-row .about-underline{
    border-bottom: 3px solid var(--main-color);
}
.resumebox{
    text-align: center;
}
.resume{
    border: none;
    outline: none;
    width: 200px;
    font-weight: 600;
    height: 40px;
}
.about-time-period{
    color: var(--main-color);
}