.about-container {
    background: var(--bg-color);
    height: auto;
    color: #fff;
}
.about-left{
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-left img{
    width: 300px;
}
.about-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
}