@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Poppins:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,500;0,700;0,900;1,500;1,700;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: transparent;
}
body{
font-family: 'Poppins', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

:root{
  --bg-color:#161726;
  --main-color:#5656E0;
  --sub-color:#161726;
  /* --text-color:#4e4e50; */
  --text-color:#e2e2e2;
  --hover-color:#0F0E1A;

}

